fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
passlib[bcrypt]
python-jose
email-validator
mediapipe
opencv-python
numpy
# pandas
# scikit-learn
torch
# transformers
requests
python-multipart
